* {
    margin: 0;
    padding: 0;
    font-family: Georgia, Garamond, serif;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body, html {
    overflow-x: hidden;
}

body {
    padding-bottom: 2em;
}

header {
    width: 100%;
    background-color: #0065c0;
    display: inline-block;
    justify-content: center;
    top: 0;
    z-index: 1;
}
th + th {
    height: 25px;
}
.toranj{
    margin:0;
    width:50px;
}

nav{
    margin-top:-1.7em;
    margin-left:50px;
}
ul.navigacija li a{
    text-decoration:none;
    color:white;
}
.navigacija{
    width:100%;
    text-align:center;
}
ul.navigacija li {
    list-style:none;
    font-size:1.3em;
    display: inline;
    text-align:center;
    padding:4%;
}
.listaNav, .dropdown{
    text-align:center;
    justify-content:space-between;
}
.listaNav a{
    padding-left:0.5em;
    padding-right:0.5em;
}

.listaNav a:hover, .dropdownBTN:hover{
    transition: 0.6s ease;
    background-color:#7FB2DF;
}

a{
    text-decoration:none;
}

button{
    background-color:transparent;
    border:none;
}

.dropdownBTN{
      color: white;
      cursor: pointer;
      font-size:1em;
      padding-left:0.5em;
      padding-right:0.5em;
}

.dropdown{
      position: relative;
      justify-content:space-between;
      text-align:center;
}

.dropdownSadrzaj{
      display: none;
      position: absolute;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      background-color: #A5C9E8;
}

.dropdownSadrzaj li a {
      padding: 8px;
      display: block;
      font-size:0.6em;
}

.dropdownSadrzaj a:hover {background-color: #BFD8EF;}

.dropdown:hover .dropdownSadrzaj {
  display: block;
  margin-left:65%;
}
tr td {
    justify-content: space-between;
    text-align: center;
    font-size: 80%;
}

    tr td a {
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

td {
    border: 0.02em solid transparent;
    padding: 0;
}

.lista {
    width: 80%;
    margin: 2em auto;
}

.naslov {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
}

h1, h2, p {
    color: white;
}

.lista .red {
    margin-top: 1em;
    width: 100%;
    justify-content: space-between;
}

.slika {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.red .kol {
    float: left;
    display: table;
    width: 50%;
    padding: 0.3em;
    margin-top: 1.5em;
}

.kol:hover {
    border-radius: 5%;
    background-color: rgba(255,255,255,0.4);
}

h2 {
    display: flexbox;
    text-decoration: none;
    text-align: center;
    margin: 1em;
}

.crta {
    position: relative;
}

    .crta:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 0.08em;
        bottom: 0;
        left: 0;
        background-color: #0065c0;
        visibility: hidden;
        transform: scaleX(0);
        transition: 0.3s ease-in-out;
        margin-left: 25%;
    }

    .crta:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

.tekst {
    font-size: 1.5em;
    word-wrap: break-word;
    text-align: center;
}

.linija {
    width: 100px;
    height: 4px;
    background: #7FB2DF;
    margin: 10px auto;
    border-radius: 5px;
}

@media only screen and (max-width:1200px){
    ul.navigacija li{
        font-size:1em;
    }
    nav {
        margin-top: -1.2em;
    }
}

@media only screen and (max-width:900px) {

    tr td a {
        font-size: 1em;
    }
}
@media only screen and (max-width:860px){

    ul.navigacija li{
        font-size:0.8em;
    }

}
@media only screen and (max-width:700px) {
    .toranj {
        display: none;
    }
    .red .kol {
        display: block;
        width: 100%;
    }

    .tekst {
        font-size: 1em;
    }

    h1 {
        font-size: 1.5em;
    }
    ul.navigacija li {
        padding:1%;
    }
    nav{
        margin:1em 0;
    }
    .dropdownSadrzaj li a{
        display:none;
    }
}

@media only screen and (max-width:480px) {
    tr td a{
        font-size: 0.7em;
    }

    .tekst {
        font-size: 0.8em;
    }

    .crta {
        font-size: 1em;
    }

    .naslov h1 {
        font-size: 1em;
    }
    ul.navigacija li{
        font-size:0.5em;
    }
}
