* {
    margin: 0;
    padding: 0;
    font-family: Georgia, Garamond, serif;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

body {
    padding-bottom: 20px;
}

header {
    width: 100%;
    background-color: #0065c0;
    display: inline-block;
    justify-content: center;
    top: 0;
    z-index: 1;
}


tr td {
    justify-content: space-between;
    text-align: center;
}

.toranj{
    margin:0;
    width:50px;
}

nav{
    margin-top:-1.7em;
    margin-left:50px;
}
ul.navigacija li a{
    text-decoration:none;
    color:white;
}
.navigacija{
    width:100%;
    text-align:center;
}
ul.navigacija li {
    list-style:none;
    font-size:1.3em;
    display: inline;
    text-align:center;
    padding:4%;
}
.listaNav, .dropdown{
    text-align:center;
    justify-content:space-between;
}
.listaNav a{
    padding-left:0.5em;
    padding-right:0.5em;
}

.listaNav a:hover, .dropdownBTN:hover{
    transition: 0.6s ease;
    background-color:#7FB2DF;
}

a{
    text-decoration:none;
}

button{
    background-color:transparent;
    border:none;
}

.dropdownBTN{
      color: white;
      cursor: pointer;
      font-size:1em;
      padding-left:0.5em;
      padding-right:0.5em;
}

.dropdown{
      position: relative;
      justify-content:space-between;
      text-align:center;
}

.dropdownSadrzaj{
      display: none;
      position: absolute;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      background-color: #A5C9E8;
}

.dropdownSadrzaj li a {
      padding: 8px;
      display: block;
      font-size:0.6em;
}

.dropdownSadrzaj a:hover {background-color: #BFD8EF;}

.dropdown:hover .dropdownSadrzaj {
  display: block;
  margin-left:65%;
}



    tr td a {
        color: white;
        text-decoration: none;
        font-size: 110%;
    }

td {
    border: 2px solid transparent;
    padding: 0;
}


#kontejnerZoo {
    padding: 5px;
    margin-top: 10px;
}

#zooVrt {
    text-align: center;
}

#mapa {
    margin: 30px auto;
    text-align: center;
}

    #mapa img {
        width: 500px;
    }

#radnoVreme {
    float: right;
    border: 2px solid #7FB2DF;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 7px;
    background-color: #D8E7F5;
}

    #radnoVreme p {
        margin: auto;
        font-size: 20px;
    }

h1, p {
    margin-top: 20px;
}

h1 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 50px;
    transition-property: text-decoration;
    transition: 0.4s ease-in-out;
    text-decoration: transparent wavy underline;
}

    h1:hover {
        text-decoration: #7FB2DF wavy underline;
    }

p {
    font-size: 20px;
}

.fiksni {
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    color: #0065c0;
    position: fixed;
    margin: 10px;
}

.strelica {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

table.zivotinje {
    border-collapse: collapse;
    padding:0;
    margin: 20px auto;
}

.zivotinje caption {
    line-height: 50px;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: black solid underline;
}

.zivotinje tr {
    background-color: #7FB2DF;
}

.zivotinje td {
    background-color: #D8E7F5;
    border-left: 1.5px dotted #7FB2DF;
    border-right: 1.5px dotted #7FB2DF;
    border-bottom: 1.5px dotted #7FB2DF;
}

tr, td {
    padding: 10px 20px;
}

.galerijaZoo img {
    width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



@media only screen and (max-width:1500px) {
    h1, p {
        margin-top: 20px;
    }

    #kontejnerZoo {
        max-width: 900px;
        overflow: hidden;
        margin: 10px auto;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }

    .galerijaZoo img {
        max-width: 800px;
    }

    #radnoVreme p {
        font-size: 15px;
    }
}
@media only screen and (max-width:1200px){
    ul.navigacija li{
        font-size:1em;
    }
    nav {
        margin-top: -1.2em;
    }
}
@media only screen and (max-width:900px) {

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }

    #kontejnerZoo {
        width: 720px;
    }

    .galerijaZoo img {
        width: 740px;
    }

    #zivotinje {
        margin: 10px auto;
    }

        #zivotinje caption {
            font-size: 20px;
        }

    #zooVrt {
        width: 700px;
    }
}
@media only screen and (max-width:860px){

    ul.navigacija li{
        font-size:0.8em;
    }

}
@media only screen and (max-width:770px) {


    tr td a {
        font-size: 70%;
    }

    .galerijaZoo img {
        width: 640px;
    }

    #zooVrt p {
        margin: 0;
        padding: 3px;
    }

    #kontejnerZoo {
        width: 650px;
    }

    #zooVrt {
        width: 620px;
    }
}
@media only screen and (max-width:700px){
        .toranj {
        display: none;
    }
        ul.navigacija li {
        padding:1%;
    }
    nav{
        margin:1em 0;
    }
    .dropdownSadrzaj li a{
        display:none;
    }
}

@media only screen and (max-width:670px) {

    h1, p {
        margin-top: 5px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    .zivotinje tr td {
        font-size: 15px;
    }

    figure img {
        width: 450px;
    }

    #kontejnerZoo {
        width: 550px;
    }

    #zooVrt {
        width: 520px;
    }

    .galerijaZoo img {
        width: 550px;
    }

    #radnoVreme p {
        font-size: 10px;
    }
}

@media only screen and (max-width:570px) {


    tr td a{
        font-size: 50%;
    }

    .galerijaZoo img {
        width: 450px;
    }

    .zivotinje caption {
        font-size: 17px;
    }

    .zivotinje tr th {
        font-size: 15px;
    }

    .zivotinje tr td {
        font-size: 11px;
    }

    #kontejnerZoo {
        width: 450px;
    }

    #zooVrt {
        width: 420px;
    }

    #mapa img {
        max-width: 300px;
    }

    #radnoVreme {
        display: none;
    }
}

@media only screen and (max-width:480px) {

    tr td a {
        font-size: 7px;
    }

    tr td {
        padding: 0;
    }

    h1 {
        font-size: 15px;
    }

    p {
        text-wrap: normal;
        font-size: 10px;
    }

    .fiksni {
        display: none;
    }

    #kontejnerZoo {
        width: 300px;
        margin: 0 auto;
    }

    #zooVrt {
        margin: 0;
        width: 280px;
    }

    .galerijaZoo img {
        width: 300px;
    }

    .zivotinje tr th {
        font-size: 12px;
    }

    .zivotinje tr td {
        font-size: 8px;
    }

    .zivotinje {
        margin: 0;
    }

    #radnoVreme {
        margin-top: 0;
    }
    ul.navigacija li{
        font-size:0.5em;
    }
}

@media only screen and (max-width:300px) {

    p {
        font-size: 8px;
    }

    #kontejnerZoo {
        width: 250px;
        margin: 0 auto;
    }

    #zooVrt {
        margin: 0;
        width: 230px;
    }

    .galerijaZoo img {
        width: 250px;
    }

    #mapa img {
        width: 200px;
    }
}
